body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #000405;
  color: #42c5fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background-color: #8ca3a3;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding: 8px 4px;
  border-bottom: 5px double #60505e;
}

.links {
  text-decoration: none;
  color: #edf1e8;
}

.links:hover {
  text-decoration: underline overline;
  text-decoration-color: rgba(66, 197, 250, 8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#particles-js {
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: visible;
}

.h {
  margin-top: 15px;
  z-index: 5;
}
