body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #000405;
  color: #42c5fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background-color: #8ca3a3;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding: 8px 4px;
  border-bottom: 5px double #60505e;
}

.links {
  text-decoration: none;
  color: #edf1e8;
}

.links:hover {
  text-decoration: underline overline;
  text-decoration-color: rgba(66, 197, 250, 8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.projects-container {
  display: flex;
  overflow-x: scroll;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
  padding: 3px 12px;
}

.project-image {
  border: solid 1px #fff;
  height: 400px;
  box-shadow: 7px 7px 3px #60505e;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "VT323", monospace;
  color: #42c5fa;
}

.project-link-image {
  background-color: #42c5fa;
  height: 30px;
}
.game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#particles-js {
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: visible;
}

.h {
  margin-top: 15px;
  z-index: 5;
}
